$bp-x3-small 				: 200px;
$bp-x2-small 				: 300px;
$bp-x-small 				: 350px;
$bp-small 					: 450px;
$bp-medium 					: 700px;
$bp-large 					: 900px;
$bp-x-large 				: 1100px;
$bp-site-max        : 1140px;
$bp-x2-large  			: 1250px;
$bp-x3-large  			: 1400px;
