footer {
  position: relative;
  .social-links {
    max-width: 300px;
    position: absolute;
    bottom: 20px;
    margin-left: calc(50% - 150px);
    margin-right: auto;
    margin-top: 30px;
    @media only screen and (max-width: 600px) {
      margin-top: 30px;
    }
    a {
      padding: 20px 20px 0 20px;
      text-decoration: none;
      svg {
        path {
          fill: black;
        }
      }
      &:hover {
        svg {
          path {
            fill: #CCCCCC;
          }
        }
      }
    }
  }
}
